
@{
    ViewData["Title"] = "PleaseLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uhoh-error-div">
    <div class="uhoh-gif-div">
        <img src="https://media.giphy.com/media/9VnMnVLCL8680Rhic1/giphy.gif" />
    </div>
    <div class="uhoh-text-div">
        <h1>Oops! First things first...</h1>
        <h3>Please login to your account.</h3>
        <a class="uh-oh-button" asp-controller="Home" asp-action="Index">Go Home</a>
    </div>

</div>

