
@{
    ViewData["Title"] = "UhOh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uhoh-error-div">
    <div class="uhoh-gif-div">
        <img src="https://media.giphy.com/media/2yuqRbxCjRuPGEkmgG/giphy.gif" />
    </div>
    <div class="uhoh-text-div">
        <h1>Now now...</h1>
        <h3>This isn't your profile -- better luck next time.</h3>
        <a class="uh-oh-button" asp-controller="Home" asp-action="Index">Go Home</a>
    </div>

</div>
