@model WasteNotBE.Models.ApplicationUser

@{
    ViewData["Title"] = "UserPhotoEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="profile-user-story-edit-form-div">
    <h3>Edit Your Story</h3>

    <div>
        <div>
            <form asp-action="UserStoryEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group story-input-form">
                    
                    <span class="user-story-span" contenteditable="true">
                        <input asp-for="Story" class="form-control story-input" />
                        </span>
                        <span asp-validation-for="Story" class="text-danger"></span>
</div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

