@model WasteNotBE.Models.ApplicationUser

@{
    ViewData["Title"] = "UserPhotoEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="profile-user-story-edit-form-div">
    <h3>Change Your Photo</h3>

    <div>
        <div>
            <form asp-action="UserPhotoEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <input asp-for="PhotoURL" class="form-control photo-input" />
                    <span asp-validation-for="PhotoURL" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary user-story-button" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

