@model WasteNotBE.Models.HomeViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <div class="homepage-div">
        @foreach (var item in Model.ItemList)
        {
        <div class="homepage-item">
            <img src="@Html.DisplayFor(modelItem => item.PhotoUrl)" />
            <p>@Html.DisplayFor(modelItem => item.Title)</p>
            @*<p>@Html.DisplayFor(modelItem => item.User.FirstName)</p>*@
        </div>
           
        }
         </div>

</table>

