
@{
    ViewData["Title"] = "CantFind";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="uhoh-error-div">
    <div class="uhoh-gif-div">
        <img src="https://media.giphy.com/media/Ok2k1L7Giz8mNEsr8v/giphy.gif" />
    </div>
    <div class="uhoh-text-div">
        <h1>Hmmm...</h1>
        <h3>We can't seem to find what you're looking for.</h3>
        <a class="uh-oh-button" asp-controller="Home" asp-action="Index">Go Home</a>
    </div>

</div>

