//View for search results
@model IEnumerable<WasteNotBE.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Search Results</h1>
<table>
    <div class="homepage-div">
        @foreach (var item in Model)
        {
            <div class="homepage-item">
                <img src="@Html.DisplayFor(modelItem => item.PhotoUrl)" />
                <p>@Html.DisplayFor(modelItem => item.Title)</p>         
            </div>
        }
        </div>

</table>
