//View for search results
@model IEnumerable<WasteNotBE.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Search Results</h1>
<table>
    <div class="homepage-div">
        @foreach (var item in Model)
        {
        <div class="homepage-item">
            <a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                <img src="@Html.DisplayFor(modelItem => item.PhotoUrl)" />
            </a>
                <p>@Html.DisplayFor(modelItem => item.Title)</p>
        </div>
        }
        </div>

</table>
