
@{
    ViewData["Title"] = "UhOh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uhoh-error-div">
    <div class="uhoh-gif-div">
        <img src="https://media.giphy.com/media/dtCHBHixIIuJM5vymu/giphy.gif" />
    </div>
    <div class="uhoh-text-div">
        <h1>Woopsie Daisy!</h1>
        <h3>It looks like this item doesn't belong to you -- better luck next time.</h3>  
        <a class="uh-oh-button" asp-controller="Home" asp-action="Index">Go Home</a>
    </div>

</div>

