/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-nav input[type=text] {
    width: 604px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px lightgrey;
    border: none;
    padding: 6px;
    background-color: #F2F2F2;
    font: #5F5353;
    font-weight: 600;
    margin-right: 40px;
}

button.nav-link {
    margin-left: 40px;
    font-weight: bold;
    color: #5F5353;
}

#home-button {
    color: #070606;
    font-weight: 700;
}

body {
    font-family: Helvetica, sans-serif
}

a {
    color: #00A0C6;
    text-decoration: none;
} 

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Homepage Styling
    ----------------------------------------------------*/

.homepage-div {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

.homepage-item  {
    /*border: 2px solid #fcfcfc;*/
    margin: 0 2px 15px;
    padding: 5px;
    /*padding-bottom: 10px;*/
    transition: opacity .4s ease-in-out;
    display: inline-block;
    border-radius: 25px;
}

div.homepage-item img {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-radius: 25px;
}

#waste-not-logo {
    margin-right: 50px;
    width: 40px;
    height: auto;
}

#homepage-search-bar {
    width: 170px;
    height: 63px; 
}
/*Item Details*/

.item-detail-div {
    display: inline-flex;
    margin-top: 30px;
    width: 100vw;
    height: 100vh;
}

.item-detail-img{
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.item-detail-img-div {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}

.item-detail-info-div{
    display: flex;
    flex-direction: column;
    margin-left: 45px;

}

.item-detail-user-div{
    display: inline-flex;
    align-items: flex-end;
}

.item-detail-item-info-div {
    max-width: 50%;
    height: auto;
}

hr {
    width: 564px;
    height: 1px;
    background: #fff;
    margin-left: -15px;
}

.item-user-username {
    font-weight: 500;
    color: #4D4545;
}

.item-detail-title {
    font-weight: bold;
    color: #4D4545;
    font-size: 30px;
    margin-bottom: -10px;
}

.item-detail-category-title {
    font-weight: bold;
    color: #4D4545;
    font-size: 18px;
}

#add-wishlist-btn {
    background-color: #A4BCA8;
    border: 5px solid #A4BCA8;
    border-radius: 10px;
    color: white;
    padding: 3px;
}

.rating-photo{
    height: 40px;
    width: auto;
    margin-right: -12px;
}

.rating-photo-div{
    margin-bottom: 14px;
}
/*item user image*/
.item-detail-user-img {
    width: 100%;
    height: auto;
}

.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

/*User Profile View*/
.profile-image-cropper {
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-photo-div{
    margin-right: 50px;
}

.item-profile-user-img {
    width: 100%;
    height: auto;
}
.profile-div {
    display: inline-flex;
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
}

.profile-info-div{
    display: flex;
    flex-direction:column;
    max-width: 50vw;
    height: auto;
    margin-right: 20px;
}

.profile-user-story-div {
    max-width: 100%;
    height: auto;
}
.profile-wishlist-div{
    display: flex;
    flex-direction: column;
}

.profile-individual-wishlist{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

a.profile-button{
    margin-right: 10px;
    text-decoration: none;
}

.profile-wishlist-buttons-div{
    display: inline-flex;
    align-items: baseline;
}

.profile-wishlist-images {
    display: inline-flex;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
}

.profile-individual-wishlist-image{
    /*//make each image a square*/
    width: 160px;
    height: 160px;
    padding: 20px;
    border-radius: 5px;
}

.profile-user-full-name{
    font-weight: bold;
}

.profile-wishlist-image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    display: inline-flex;
}

p.profile-wishlist-header {
    display: inline-block;
    margin-right: 20px;
    background-color: #A4BCA8;
    border: 5px solid #A4BCA8;
    border-radius: 15px;
    color: white;
    padding-left: 5px;
    margin-top:10px;
}

.vl {
    border-left: 1px solid gray;
    height: 20px;
    margin-right: 10px;
}

/*Uh-Oh Error Page*/
.uhoh-error-div {
    display: inline-flex;
    margin-top: 50px;
}

.uhoh-text-div{
    margin-top: 70px;
    margin-right: 20px;
}

.uh-oh-button {
    border: 1px solid black;
    padding: 5px;
    color: black;
    margin-top: 2px;
}

/*Edit User Story*/
.profile-user-story-edit-form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.story-input{
    margin-top: 10px;
    width: 500px;
    height: 100px;
}

.photo-input {
    width: 500px;
}

/*Create Item*/
.create-item-col{
    margin-left: 50px;
}









