/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

body {
    font-family: Helvetica, sans-serif
}

a {
    color: #00A0C6;
    text-decoration: none;
} 

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Homepage Styling
    ----------------------------------------------------*/

.homepage-div {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
}

.homepage-item  {
    /*border: 2px solid #fcfcfc;*/
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    border-radius: 25px;
}

div.homepage-item img {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-radius: 25px;
}

#waste-not-logo {
    margin-right: 10px;
}

#homepage-search-bar {
    width: 170px;
    height: 63px; 
}
/*Item Details*/

.item-detail-div {
    display: inline-flex;
    margin-top: 30px;
    width: 100vw;
    height: 100vh;
}

.item-detail-img{
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.item-detail-img-div {
    max-width: 50%;
    height: auto;
    margin-right: 20px;
}

.item-detail-info-div{
    display: flex;
    flex-direction: column;
    margin-left: 45px;

}

.item-detail-user-div{
    display: inline-flex;
    align-items: flex-end;
}

.item-detail-item-info-div {
    max-width: 50%;
    height: auto;
}

hr {
    width: 564px;
    height: 1px;
    background: #fff;
    margin-left: -15px;
}

.item-user-username {
    font-weight: 500;
    color: #4D4545;
}

.item-detail-title {
    font-weight: bold;
    color: #4D4545;
    font-size: 40px;
}

.item-detail-category-title {
    font-weight: bold;
    color: #4D4545;
    font-size: 20px;
}

.add-wishlist-btn {
    background-color: #A4BCA8;
    border-radius: 25%;
}
/*item user image*/
.item-detail-user-img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    width: auto;
}

.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

/*User Profile View*/









